.menu_link{
    font-size: 18px !important;
    line-height: 26px !important;
    color: #8A90A2 !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    text-transform: none !important;
    font-family: 'DM Sans' !important;
}
.menu_link:hover{
    color: #000 !important;
}

.menu_item:not(:last-child){
    margin-right: 30px;
}